<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="header :: includedContent"></th:block>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- 왼쪽메뉴 -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div th:replace="left :: includedContent"></div>
    </ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <div th:replace="top :: includedContent"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                    For more information about DataTables, please visit the <a target="_blank"
                                                                               href="https://datatables.net">official
                        DataTables documentation</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <a href="/board/write">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Created Task</h6>
                        </div>
                    </a>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <!--                                <thead>-->
                                <tr>
                                    <th>Number</th>
                                    <th>Title</th>
                                    <th>Host</th>
                                    <th>Description</th>
                                    <th>Start date</th>
                                    <!--<th>End date</th>-->
                                </tr>
                                <!--                                </thead>-->
                                <!--                                <tbody>-->
                                <th:block th:if="${#strings.isEmpty(boards)}">
                                    <tr> <td colspan="5">조회 된 결과가 없습니다.</td> </tr>
                                </th:block>
                                <th:block th:if="${not #strings.isEmpty(boards)}">
                                    <script th:inline="javascript">
                                        function redirectToBoard(id) {
                                            window.location.href = '/board/' + id;
                                        }
                                    </script>
                                  <tr th:each="board : ${boards}" th:onclick="'javascript:redirectToBoard(' + ${board.id} + ')'">
                                        <td th:text="${board.id}">id</td>
                                        <td th:text="${board.title}">title</td>
                                        <td th:text="${board.userInfo.name}">host</td>
                                        <td th:text="${board.content}">content</td>
                                        <td th:text="${#temporals.format(board.createdAt(), 'yyyy-MM-dd HH:mm')}">등록일</td>
                                    </tr>
                                </th:block>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">정말 로그아웃하시겠어요?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <a class="btn btn-primary" href="/">로그아웃</a>
            </div>
        </div>
    </div>
</div>



</body>
</html>