<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header>
        <h1>게시물 상세</h1>
    </header>
    <main>
        <div class="card">
            <div class="card-header">
                <h2 th:text="${board.title}">제목</h2>
                <p th:text="${board.userInfo().name()}">작성자</p>
                <p th:date="${board.createdAt()}">작성일</p>
            </div>
            <div class="card-body">
                <p th:text="${board.content}">콘텐츠</p>
            </div>
        </div>
        <a href="/board" class="btn btn-secondary">목록으로</a>
        <a th:href="@{/board/{id}/update(id=${board.id})}" th:method="get" class="btn btn-primary">수정</a>
        <a th:href="@{/board/{id}/delete(id=${board.id})}" th:method="get" class="btn btn-danger">삭제</a>
    </main>
    <footer>
        &copy; 2023
    </footer>
</div>
</body>
</html>
