<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header>
        <h1>게시물 작성</h1>
    </header>
    <main>
        <form action="/board/write/api" method="post">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" name="content" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">작성</button>
        </form>
    </main>
    <footer>
        &copy; 2023
    </footer>
</div>
</body>
</html>